<div class="container">
  <div class="row">
   <% data.flats.each do |owner, flat| %>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/<%= flat.city_slug %>');">
          <div class="card-category">Popular</div>
          <div class="card-description">
            <h2>Le Wagon <%= flat.city_slug.capitalize %></h2>
            <p><%= flat.description %></p>
          </div>
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{owner}" , class:"card-user"%>
          <a class="card-link" href="#" ></a>
      </div>
    </div>
  <% end %>
  </div>
</div>
